.encabezado {
   
    padding: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 5rem;
    
    
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.col {
    width: 100%;
    justify-content: center;
}

.tecnologias {
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 1rem;
    color: var(--texto-secundario);
    font-family: "Inter", sans-serif;
    font-weight: 200;
    /* transition: ease-in-out 0.3s hover; */
    /* animation: textoConSombra 5s linear infinite alternate; */
}


/* .tecnologias:hover  {
    font-weight: 400;
    text-shadow: 0cap 0px 6px #00ffc85b;
} */



